:root {
    --body-bc: #100707;
    --header-bc: #064199;
    --body-bc: #EEF4F7;
    --header-color: #b3c7e9;
    --page-bc: #EEF4F7;
    --center-bc: #D6DFE7;
    --label-color: #94B1DC;
    --font-color: #464039;
    --font-size: 20px;
    --menu-overlay-bc: #041b3c;
    --btn-color: #144B9E;
    --category-color: #36549d;
    --category-bc: #8cabd947;
    --hard: #cb4040;
    --medium: #598de5;
    --easy: #59b148;
    --que-color: #464039;

}

@media screen and (max-width: 700px) {
    :root {
        --font-size: 14px;
    }
}

/* https: //css-tricks.com/dark-modes-with-css/
https: //m2.material.io/design/color/dark-theme.html#behavior

*/