:root {
    --body-bc: #eaeaea;
    --page-bc: white;
    --center-bc: #f5f5f5;
    --label-color: #b2b2b2;
    --font-color: #464039;
    --font-size: 20px;
    --btn-color: #2f6cab;
    --label-color: #9b9b9bb5;
    --category-color: #2f6cab;
    --category-bc: #e2e2e2b8;
    --hard: #cb4040;
    --medium: #598de5;
    --easy: #59b148;
    --que-color: #2c2cc8;

}


/* Formats */

span.bold {
    font-weight: 700;
    font-size: inherit;
    background-color: inherit;
}

span.highlight {
    background-color: #e7e746;
    padding: 2px 0px;
    font-size: inherit;
    font-weight: inherit;
}

.heading {
    font-weight: 700;
}


.heading1 {
    font-size: 1.4em;
}

.heading2 {
    font-size: 1.3em;
}

.heading3 {
    font-size: 1.2em;
}

span.bold,
span.highlight,
span.heading {
    padding: 0px !important;
}

/* Add Practise question app*/


input#search-input {
    width: 100%;
    margin: 0px;
    outline: none;
    border: none;
    border: 1px solid var(--label-color);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    /* margin: 10px; */
    margin-right: 10px;
    height: 37px;
    padding-right: 31px;
}


.center {
    margin: 0px 10px;
    padding: 10px;
    background-color: var(--center-bc);
    border-radius: 3px;
    min-height: 250px;
    overflow: scroll;
}


span.question,
textarea.question {
    color: var(--que-color);
}


.category-section {
    padding-top: 30px;
    border-top: 1px solid gray;
    margin-top: 20px;
}

.category-section .categories {
    margin-top: 15px;
}

.category-section .new-cat {
    margin-top: 11px;
}

.category-section textarea.add-category {
    padding: 5px;
    text-align: center;
}





.bottom {
    margin: 0px 10px;
}

.question-section span.question {
    font-size: calc(var(--font-size) + 7px);
}

.answer-section span.question,
.answer-section textarea.question,
.add span.question,
.add textarea.question {
    font-size: calc(var(--font-size) + 7px);
}

span.explanation,
textarea.explanation {
    color: var(--font-color);
    font-size: calc(var(--font-size) + 1px);
}

.answer-section span.explanation,
.answer-section textarea.explanation {
    width: 85%;
}


.question-section .categories {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}

.question-section .question-level {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.question .question-level .level {
    font-size: calc(var(--font-size) + 2px);
    margin: 5px 15px;
    border-radius: 5px;
    padding: 3px 7px;
}


/* Answer section*/
span,
textarea {
    border: none;
    padding: 0px;
    background-color: var(--center-bc);
    font-family: inherit;
    line-height: 1.3em;
    resize: none;
    font-size: var(--font-size);
}


.search-online {
    display: flex;
    margin-left: auto;
    font-size: calc(var(--font-size) - 3px);
    margin: 10px 0px;
    margin-left: auto;
}

.link {
    color: #2c2cc8;
    margin: 0px 5px;
    cursor: pointer;
}