/* Formats */

span.bold {
    font-weight: 700;
    font-size: inherit;
    background-color: inherit;
}

span.highlight {
    background-color: #e7e746;
    padding: 2px 0px;
    font-size: inherit;
    font-weight: inherit;
}

.heading {
    font-weight: 700;
}


.heading1 {
    font-size: 1.4em;
}

.heading2 {
    font-size: 1.3em;
}

.heading3 {
    font-size: 1.2em;
}

span.bold,
span.highlight,
span.heading {
    padding: 0px !important;
}

/* Add Practise question app*/


input#search-input {
    width: 100%;
    margin: 0px;
    outline: none;
    border: none;
    border: 1px solid var(--label-color);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    /* margin: 10px; */
    margin-right: 10px;
    height: 37px;
    padding-right: 31px;
    background-color: var(--page-bc);
}


.center {
    margin: 0px 10px;
    padding: 10px;
    background-color: var(--center-bc);
    border-radius: 3px;
    min-height: 250px;
    overflow: scroll;
}


span.question,
textarea.question {
    color: var(--que-color);
}


.mcq-check-options {
    margin-top: 10px;
    color: var(--font-color);
}

.answer-section .category-section {
    /*
    padding-top: 30px;
    border-top: 1px solid gray;
    */
    margin-top: 20px;
}

.category-section .categories {
    margin-top: 15px;
}

.category-section .new-cat {
    margin-top: 11px;
}

.category-section textarea.add-category {
    padding: 5px;
    text-align: center;
}





.bottom {
    margin: 0px 10px;
}

.question-section span.question {
    font-size: calc(var(--font-size) + 5px);
    color: var(--header-bc);
}

.answer-section span.question,
.answer-section textarea.question,
.add span.question,
.add textarea.question {
    color: var(--header-bc);
}

span.explanation,
textarea.explanation {
    color: var(--font-color);
    font-size: calc(var(--font-size) + 0px);
}




.question-section .categories {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}

.question-section .question-level {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.question .question-level .level {
    font-size: calc(var(--font-size) + 2px);
    margin: 5px 15px;
    border-radius: 5px;
    padding: 3px 7px;
}


/* Answer section*/
span,
textarea {
    border: none;
    padding: 5px;
    font-family: inherit;
    line-height: 1.3em;
    resize: none;
    font-size: var(--font-size);
    border-radius: 5px;
}

textarea {
    background-color: var(--page-bc);

}



.search-online {
    display: flex;
    margin-left: auto;
    font-size: calc(var(--font-size) - 3px);
    margin: 10px 0px;
    margin-left: auto;
}

.link {
    color: #2c2cc8;
    margin: 0px 5px;
    cursor: pointer;
}


.add-question-section .question-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: var(--label-color)
}

.add-question-section .question-type div {
    flex: 0 0 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.add-question-section .question-type .question-type-tab.active {
    color: var(--header-bc);
}

.set-default-mcq-template {
    font-size: calc(var(--font-size) - 3px);
    margin-left: auto;
    color: var(--font-color);
    cursor: pointer;
}

.question-visibility {
    margin-top: 20px;
}